<header>
    <nav id="nav">
        <div class="full-container">
            <div class="logo">
                <img src="/images/logo.svg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li class="nav-items"><a href="/" class="underline">HOME</a></li>
                <li class="nav-items"><a href="/movies/oldest" class="underline">OLDEST</a></li>
                <li class="nav-items"><a href="/movies/latest" class="underline">LATEST</a></li>
                <li class="nav-items dropdown">
                    <a href="#" class="underline">CONTACT US</a>
                    <ul class="dropdown-menu">
                        <li><a href="#about-us">ABOUT US</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </li>
            </ul>
            <div class="right-container">
                <div class="search-bar">
                    <form id="searchForm" action="/movies/search" method="get"> <input type="text" name="q"
                            id="searchInput" class="search-box" placeholder="Search" autocomplete="off">
                        <!-- <div id="suggestions" class="suggestions"></div> Container for suggestions -->
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
                <div class="wishlist">
                    <a class="watch" href="#"><i class="bi bi-bookmark"></i>
                        <div class="notification"></div>
                    </a>
                </div>

                <!-- User Profile Dropdown with Upload and Preview -->
                <div class="user-logo" id="userLogo1">
                    <img id="profilePreview" src="<%= user.profile_picture || '/images/default.png' %>" alt="User Logo">
                    <div class="user-info">
                        <div class="username">
                            <% if (isAuthenticated) { %>
                                <%= user.username %>
                                    <% } else { %>
                                        DEFAULT USER!
                                        <% } %>
                        </div>
                        <div class="user-dropdown">
                            <ul class="user-dropdown-menu">
                                <% if (isAuthenticated) { %>
                                    <li>
                                        <a href="#" id="uploadProfileLink">
                                            <i class="bi bi-upload"></i> Upload Profile
                                        </a>
                                        <form id="uploadProfileForm" action="/auth/upload-profile-pic" method="POST"
                                            enctype="multipart/form-data" style="display:none;">
                                            <input type="file" id="profilePictureInput" name="profile_picture"
                                                accept=".png, .jpg">
                                        </form>

                                    </li>
                                    <li>
                                        <a href="/auth/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                                    </li>
                                    <% } else { %>
                                        <li>
                                            <a href="/auth/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                                        </li>
                                        <li>
                                            <a href="/auth/signup"><i class="bi bi-person-plus"></i> Signup</a>
                                        </li>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Responsive Container -->
        <div class="responsive-container">
            <div class="toggle-menu">
                <i class="bi bi-list"></i>
            </div>
            <ul class="nav-links" id="responsive-nav" style="display: none;">
                <li class="nav-items hover-effect"><a href="/">HOME</a></li>
                <li class="nav-items hover-effect"><a href="/movies/oldest">OLDEST</a></li>
                <li class="nav-items hover-effect"><a href="/movies/latest">LATEST</a></li>
                <li class="nav-items hover-effect"><a href="#about-us">ABOUT US</a></li>
                <li class="nav-items hover-effect"><a href="#contact">CONTACT</a></li>
            </ul>
            <div class="logo">
                <img src="/images/logo.svg" alt="Logo">
            </div>
            <div class="search-bar">
                <form id="searchForm" action="/movies/search" method="get">
                    <input type="text" name="q" id="searchInput" class="search-box" placeholder="Search" autocomplete="off">
                    <!-- <div id="suggestions" class="suggestions"></div> Container for suggestions -->
                    <button type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <div class="wishlist">
                <a class="watch" href="#"><i class="bi bi-bookmark"></i>
                    <div class="notification"></div>
                </a>
            </div>

            <!-- User Profile Dropdown with Upload and Preview -->
            <div class="user-logo" id="userLogo2">
                <img id="profilePreviewResponsive" src="<%= user.profile_picture || '/images/default.png' %>"
                    alt="User Logo">
                <div class="user-info">
                    <div class="username">
                        <% if (isAuthenticated) { %>
                            <%= user.username %>
                                <% } else { %>
                                    DEFAULT USER!
                                    <% } %>
                    </div>
                    <div class="responsive-user-dropdown">
                        <ul class="user-dropdown-menu">
                            <% if (isAuthenticated) { %>
                                <li>
                                    <a href="#" id="uploadProfileLinkResponsive">
                                        <i class="bi bi-upload"></i> Upload Profile
                                    </a>
                                    <form id="uploadProfileFormResponsive" action="/auth/upload-profile-pic"
                                        method="POST" enctype="multipart/form-data" style="display:none;">
                                        <input type="file" id="profilePictureInputResponsive" name="profile_picture"
                                            accept=".png, .jpg">
                                    </form>
                                </li>
                                <li>
                                    <a href="/auth/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                                </li>
                                <% } else { %>
                                    <li>
                                        <a href="/auth/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                                    </li>
                                    <li>
                                        <a href="/auth/signup"><i class="bi bi-person-plus"></i> Signup</a>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>