<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header.css"> <!-- Use absolute path for the stylesheet -->
  <link rel="stylesheet" href="/css/footer.css"> <!-- Use absolute path for the stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <title>Movie Recommendation System</title>
</head>

<body>
  <%- include('partials/header.ejs') %>

    <main>
      <h2>Main Content Area</h2>
      <p>This is where the main content of the page goes. Add enough content here to test the footer positioning.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ex ad. Repellendus fuga, excepturi
        quisquam sint nesciunt omnis esse at facere ipsum! Temporibus modi laboriosam, porro repellat sequi quibusdam
        doloremque.
        Expedita consequatur optio ullam praesentium ut, odio voluptate odit inventore, corporis sit veniam alias modi
        natus aliquid maiores culpa! Laborum minima unde exercitationem architecto numquam ratione molestiae iure
        placeat? Aspernatur!
        Vero, culpa veritatis id voluptas non eos. Possimus ipsum ullam deserunt eligendi numquam veritatis nesciunt
        temporibus facere aliquam esse impedit labore blanditiis et ab, quod velit porro animi asperiores quia.
        Facilis, eum debitis? Maiores quo vitae dolore illum saepe qui est sequi laudantium veritatis a molestias cum
        ipsum, suscipit quaerat in assumenda sunt deleniti! Eum laudantium exercitationem repellat quia iure.
        Dolore, vitae quia earum quidem consectetur quod nam ea dignissimos minima laboriosam cumque ab accusamus!
        Recusandae sapiente esse asperiores corporis harum. Sed voluptas tempore possimus vero illo eos nesciunt error.
        Nisi, explicabo amet? Eveniet quaerat commodi voluptatibus voluptas voluptatum beatae numquam error molestiae
        suscipit corporis a quia repellat nulla, tempora omnis quos unde quis. Odio voluptatum sunt nihil pariatur
        sequi?
        Harum nisi unde a id? Qui itaque ipsa illo architecto ipsam minima soluta illum consectetur facere quas quasi
        fugiat fugit dolorem maiores voluptas, accusantium perspiciatis harum animi sapiente quia? Ex.
        Quaerat libero consectetur explicabo magni praesentium sed nobis! Eaque itaque vero culpa quia, distinctio
        exercitationem, quo ea ipsum magni nostrum debitis unde a, excepturi esse vitae ratione dignissimos accusantium
        hic.
        Natus enim, commodi tempora odio soluta voluptate atque rerum nisi? Omnis, ab quia! Voluptas veniam recusandae
        eius, fugit consequatur quaerat consectetur nesciunt quis, cum maxime dolore ut ipsam saepe repellat!
        Voluptas corrupti eligendi, deleniti necessitatibus saepe iste voluptatum suscipit numquam, possimus
        exercitationem repudiandae ipsa quisquam quasi maiores, minima animi quos. Harum cumque necessitatibus incidunt?
        Corrupti quasi neque debitis ipsum similique.
        Reprehenderit, adipisci distinctio tenetur cupiditate eum est praesentium quaerat inventore veniam reiciendis
        explicabo accusantium fuga aliquam aut expedita eligendi, facilis mollitia esse perferendis eos sequi! Officia
        molestias earum delectus minima.
        Amet ullam nam architecto, aspernatur quas, dolores perspiciatis natus rem officiis officia maiores illum vel
        consequuntur ratione culpa quis molestias dignissimos voluptatum sunt vitae repudiandae reiciendis, cupiditate
        blanditiis laudantium. Doloribus!
        Enim obcaecati corporis voluptate ipsum. Voluptates excepturi dolore assumenda perspiciatis fugit quia
        accusantium possimus ea tenetur, debitis, amet laboriosam reprehenderit placeat nesciunt, nam maiores minima id
        aut quae corrupti impedit?
        Nesciunt reiciendis ex deserunt hic qui eum officia molestias ducimus accusamus. Cum commodi quisquam similique,
        libero impedit, esse alias odio, saepe modi atque labore dicta consequuntur beatae tempora cumque deleniti?
        Esse, voluptas quia possimus doloribus, aliquam totam enim quam sint nesciunt debitis illo cupiditate
        reprehenderit quaerat fuga! Debitis, sunt! Hic numquam cupiditate accusamus rem corrupti, facere vel quidem illo
        debitis.
        Velit, officiis. Consequatur ullam necessitatibus, impedit quaerat nam eos? Minus a sunt facere. Deserunt nisi
        hic, vero est, voluptate id vitae saepe minima tempora nulla perferendis? Architecto voluptatibus labore cumque.
        Dolorem eius, explicabo aliquid ipsum est asperiores minima dolore ipsam veniam nostrum cupiditate soluta itaque
        incidunt amet, recusandae laudantium fuga? Optio iusto labore omnis libero ipsum obcaecati consectetur, error
        exercitationem?
        Ad tempora rerum ab nihil distinctio? Distinctio, similique fugit! Molestias accusantium excepturi, reiciendis
        cumque ad reprehenderit mollitia animi quas aspernatur illum architecto, dolorum aperiam illo. Asperiores
        necessitatibus fugiat qui cum?
        Vitae, officia culpa! Quae ducimus corrupti voluptatem itaque consequatur, magni reprehenderit consequuntur
        dolore nihil tenetur maxime soluta iusto modi eveniet natus non perferendis nesciunt quo illo beatae accusamus
        nam deserunt.
        Rerum inventore sunt obcaecati illum. Nesciunt ullam labore corporis, laborum iure perferendis iusto nostrum,
        corrupti deleniti et incidunt officiis! Quaerat eaque quasi impedit quos enim amet placeat deserunt dignissimos
        aliquid?
        At ex, esse libero inventore corporis reprehenderit aliquid. Officia inventore ut, quae voluptatem aperiam
        dolores exercitationem, aliquid temporibus quis aliquam reiciendis cupiditate ab commodi ullam voluptate ipsam
        aut! Enim, vero.
        Facere eum reiciendis, at enim, voluptate cupiditate qui, soluta error nemo tenetur a. Fuga culpa maxime sequi
        inventore cumque, dolores consequatur. Est aut ducimus nihil, earum eveniet sit incidunt odio?
        Officiis omnis molestias quod aspernatur exercitationem culpa earum, aliquam architecto commodi vero explicabo
        ut officia suscipit pariatur porro! Facere vero eos nisi temporibus molestias illo atque tenetur omnis
        asperiores harum?
        Aut ut labore, quaerat velit nulla sit error incidunt magnam doloremque cum enim nihil sunt officia. Numquam
        dignissimos ipsam ullam dolore veritatis obcaecati natus? Eum ducimus magni ipsum voluptatem vitae.
        Porro numquam quam debitis, cumque autem delectus asperiores maxime ratione reprehenderit voluptas voluptates
        similique eos fuga magni officiis dolores? Libero consectetur cum commodi alias perferendis corrupti quos
        recusandae, eveniet ducimus.
        Porro voluptatem id incidunt possimus qui officiis quasi repellat expedita. Itaque tempora ea excepturi. Animi
        pariatur illum sit, ex minima recusandae ullam corrupti impedit, placeat error voluptatibus commodi rerum
        explicabo.
        Praesentium nemo amet vitae laborum quam voluptate id totam nam voluptates maiores cupiditate placeat velit
        aliquid incidunt dolorem doloribus, nostrum similique enim labore cumque nisi ipsa quas ut atque! Mollitia.
        Sit necessitatibus facere reiciendis possimus numquam ducimus harum unde commodi quidem adipisci ab eaque earum
        molestiae at maxime perspiciatis exercitationem quod temporibus debitis voluptas, maiores ipsa consequatur
        provident? Eos, impedit.
        Earum labore officia asperiores est voluptatibus, ipsam, blanditiis odio nihil doloremque, inventore suscipit!
        A, ratione exercitationem repellendus atque labore eligendi eaque dignissimos corporis maxime illum repudiandae
        beatae officia voluptatum voluptatem.
        Sequi quasi consectetur fugit modi. Illum doloribus iure dicta, corporis odit laboriosam officiis rerum libero
        tempora, obcaecati earum quis, eligendi quisquam dolorum. Quod repellat possimus necessitatibus, magni enim
        veniam suscipit!
        Nulla, ipsa cumque veniam tempore eaque architecto iusto. In provident debitis alias odio asperiores nihil nulla
        quas voluptatum sapiente deleniti sequi, doloribus ex rem labore sit aspernatur, ipsa eligendi impedit.
        Vitae aut culpa est quia dicta, nobis a aliquid, repellat harum explicabo voluptates mollitia blanditiis. Earum
        labore veritatis molestias sint facilis voluptatum nostrum asperiores adipisci praesentium magnam? Rerum,
        reprehenderit expedita.
        Libero quo consequatur provident nostrum esse! Beatae, voluptates, commodi eligendi iusto porro nihil quis,
        quidem corporis hic ducimus excepturi? Ut vel explicabo maiores quis incidunt sapiente nobis ipsam et accusamus?
        Dolores rerum a dolorum quas, sit eaque eos quisquam quae, repudiandae fugiat laborum sunt nihil inventore
        similique ipsam magnam harum commodi dolorem. Inventore asperiores maxime labore perferendis culpa magni neque.
        Cupiditate nostrum eos nam et reiciendis, quia maiores cum quas. Minima quos tempora perspiciatis rem. A cum
        nobis nemo laudantium? Quod facere excepturi repellat ea aut. Praesentium optio ipsum nam.
        Dolore quisquam assumenda soluta cupiditate! Necessitatibus harum porro tenetur beatae, fugit suscipit
        reiciendis quasi tempore laborum excepturi rem quibusdam nobis at ipsum a soluta quae ex amet esse. Iste,
        assumenda.
        Reiciendis odio adipisci voluptas. Repellat ipsa dignissimos sunt ea eligendi numquam neque atque, quas est et
        natus harum. Nostrum nam quia ratione pariatur, facilis fuga dolor? In, cum dolorum. Corporis!
        Adipisci qui debitis fuga at earum delectus tenetur obcaecati quo voluptatum, dolore aliquam corrupti rerum quis
        magnam quas, eum ab vel ullam itaque dolorem veniam, vitae recusandae odit! Quam, aliquid.
        Nostrum deserunt molestiae quos maxime eum illo magnam quia laborum animi necessitatibus, corrupti, quae quod
        ipsum. Praesentium id enim quae? Sapiente fugit nostrum temporibus minima quaerat eveniet vero pariatur dolore.
        Rerum iste alias, accusantium sed saepe perspiciatis cum eum illum veniam, expedita eveniet sapiente minima
        fugit explicabo. Incidunt similique, dolores ea mollitia debitis, atque earum explicabo blanditiis quasi
        excepturi eos.
        Repudiandae sit nesciunt porro, nobis quod culpa modi iste est maxime fugit illo doloribus veritatis incidunt,
        excepturi odio nihil eligendi quis beatae fugiat dolorem necessitatibus voluptatum sed labore? A, laudantium?
        Dolores, a possimus voluptate amet nostrum soluta, animi nihil temporibus, veritatis velit doloribus! Vitae
        aliquid at perferendis maxime, totam incidunt quos saepe modi, culpa officiis, sapiente explicabo voluptatum
        ducimus. Tenetur.
        Nesciunt neque quos, corporis facilis facere odit. Delectus consequuntur aliquam et ipsam est architecto laborum
        fuga accusantium aperiam cum, pariatur facere officiis voluptatem iusto voluptate quidem dignissimos veritatis
        labore hic?
        Ex id mollitia dicta quidem nobis at iusto, aliquid error sit? Voluptatem natus vero eligendi nemo inventore.
        Architecto odio quisquam aliquam beatae saepe quia commodi, reprehenderit sunt nemo illo dolor.
        Dolores earum cumque blanditiis amet dignissimos vero numquam consectetur enim voluptate quae minima veniam nam
        cum maxime, architecto incidunt distinctio nulla, est ducimus pariatur esse adipisci, commodi vitae
        necessitatibus. Praesentium?
        Iusto optio velit cum quis dolores nesciunt, animi labore assumenda aspernatur molestias expedita perspiciatis
        incidunt, temporibus voluptas, fugit officia culpa! Error similique illo ducimus temporibus. Debitis voluptate
        modi earum enim!
        Aliquid ex ipsum mollitia velit animi dolore? Ad est inventore vitae adipisci eaque autem hic tempora sequi. Est
        voluptas assumenda corporis cum saepe fugit minima architecto vel, fugiat optio magni.
        Voluptatibus placeat ab nisi aliquam repellat, eius aperiam beatae magni fugiat rem ipsa amet quisquam non
        deserunt repellendus. Minima quis doloremque sequi dolore perferendis sunt placeat at impedit repellat
        aspernatur?
        Omnis soluta reiciendis fugit quidem repudiandae autem excepturi in totam pariatur aut nostrum vitae, doloremque
        vero cupiditate repellat ipsum ab dolore dignissimos fuga sunt eos sit! Corrupti impedit rem rerum.
        Itaque illum dolor vel dolorem recusandae. Illo nostrum optio, dolorum quia deleniti repellat facere quisquam
        dignissimos magni dicta sit rerum sunt doloremque in suscipit laboriosam ab! Doloribus fugiat laborum ea.
        Nobis dolorem odio obcaecati dignissimos ullam. Labore accusantium sed dicta deleniti? Eligendi ducimus libero
        adipisci tenetur quas ullam culpa, amet, ipsam dolor exercitationem expedita blanditiis, earum laboriosam
        facilis necessitatibus! Cumque?
        Eligendi sapiente iure quia eum ex nostrum quasi eveniet nemo vero beatae ullam voluptas cum at, officiis,
        nesciunt nobis, reprehenderit dolores illum qui est! Sint magnam quae dolorum nulla nemo.
        Tempore veritatis incidunt eius nam quae rerum natus molestiae quam unde explicabo temporibus, dignissimos
        voluptates, at placeat odio fugit autem laborum, vitae corrupti hic tempora! Eius distinctio dolorem ex
        consequatur.
        Consectetur, tempore quae maiores vero tenetur ut accusamus est minus possimus repellat molestiae quos
        cupiditate voluptatum dicta. Repudiandae nulla sint veniam, unde quam accusamus, laboriosam in adipisci omnis
        modi ut.
        Nemo dolorem sunt, aperiam consequuntur debitis placeat deserunt vero, ab officiis id tenetur eligendi et unde
        voluptatum porro nostrum non? Commodi, laudantium velit doloremque vel maxime quibusdam. Ex, quaerat nesciunt.
        Necessitatibus nisi quas ut veritatis ipsum. Expedita eius, eaque est nisi vero vitae harum optio ipsum totam,
        consequatur similique possimus rem atque illo vel perferendis odit delectus! Nostrum, corrupti dolores.
        Ipsa voluptatem sapiente voluptates nostrum cumque fugiat libero tempore ut quo reiciendis optio natus inventore
        facere ullam obcaecati iure architecto repellat saepe eos, at praesentium vero. Quam excepturi natus
        perspiciatis.
        Eaque quos possimus aspernatur harum illum, perferendis distinctio recusandae, hic eveniet voluptate alias
        facilis sapiente vitae nesciunt, laborum voluptas velit ullam minima! Et officiis a qui aliquid beatae, aliquam
        corrupti.
        Itaque eos suscipit numquam reprehenderit! Earum culpa aut obcaecati repellendus. Aut alias veritatis beatae
        tempora minima vitae sequi quisquam eveniet assumenda nesciunt. Quis obcaecati pariatur autem odio non. Quasi,
        id.
        Eligendi possimus accusantium aperiam veritatis veniam et illo soluta vero nisi. Quas veniam, nesciunt nobis
        sunt repellendus ut vitae possimus officia voluptate a, amet molestiae natus consequuntur doloremque. Nam,
        iusto.
        Excepturi nobis sint aspernatur laboriosam, cum commodi fugiat molestiae iusto maiores consequuntur pariatur
        facilis minima culpa exercitationem molestias optio sit esse nemo doloremque, tenetur perferendis delectus. Nisi
        officiis suscipit beatae?
        In eligendi quae dicta debitis quas facilis impedit voluptatum aliquid commodi libero deserunt corrupti ipsum
        nam autem rem laboriosam officiis ea alias dignissimos laborum, maiores cumque repellat? Nesciunt, quia eaque?
        Blanditiis fugit sint voluptatum quasi! Culpa inventore facere facilis ad. Facilis minima, voluptates dolores
        harum maxime numquam magni consequatur expedita optio facere, nihil dignissimos non soluta consequuntur debitis
        fuga tempora!
        Possimus architecto fugiat atque sapiente nobis similique voluptatem sit omnis velit iure cum, nulla vitae enim,
        maiores accusamus ipsum odit fugit, illum porro. Soluta perspiciatis nulla itaque reprehenderit pariatur quasi.
        Quasi libero deleniti, tempore numquam mollitia nemo ducimus quibusdam in cupiditate accusamus saepe asperiores
        sit eaque architecto beatae similique eos eligendi illo fugit! Exercitationem voluptatum officia voluptate
        voluptatem laudantium ab.
        Recusandae numquam eaque vero aliquid repudiandae eius libero laudantium accusantium. Fugit repellat voluptate
        molestias sapiente, corporis animi eius repudiandae illo vero ratione error amet labore reiciendis similique
        maiores eos iusto.
        Numquam molestiae omnis animi voluptatibus quae sit minima voluptate, adipisci minus illum aliquam autem eum.
        Quis voluptates, dolor sint reprehenderit iusto minima ipsa omnis fugiat dolorem, sit, iste modi eum.
        Corrupti, ipsum dolor. Doloribus soluta maxime possimus, obcaecati eos facere, iste expedita doloremque culpa
        sequi veniam nam molestias eligendi autem molestiae aspernatur laudantium sed ipsam numquam saepe odit natus
        tempora?
        Officiis debitis vel consequuntur eveniet quia sequi fugiat hic incidunt suscipit. Iure, qui, vel saepe
        reiciendis minima illo iste quo, illum ea aliquam autem itaque tempora ab quae praesentium! Nostrum.
        Eligendi vitae dolores quaerat aspernatur ipsum facilis suscipit! Officia modi eligendi repellendus quae laborum
        tempora maiores eaque aliquam dolor dignissimos labore quam velit mollitia culpa dolores, nulla magni blanditiis
        nihil?
        Necessitatibus porro eaque suscipit ab quidem voluptate architecto aspernatur laborum reiciendis maxime cumque,
        odio eius neque, animi magnam. Dolor distinctio repudiandae vero magni nemo exercitationem, laudantium rem.
        Eius, nobis nemo!
        Debitis tenetur voluptatem, accusantium ullam animi delectus deleniti praesentium doloremque? Unde velit
        aliquam, iusto, at illum, eveniet expedita libero adipisci dolorum minima itaque officia totam repellendus. Illo
        voluptas esse a?
        Amet mollitia eligendi, minima sit eaque recusandae distinctio? Quisquam nam, sunt saepe officiis dolor voluptas
        culpa maxime hic adipisci sed reiciendis quam veritatis iure eius neque quis magnam? Omnis, at?
        Quam quidem nulla perspiciatis iusto quo velit at nesciunt delectus, aut, quod cum ad accusantium, doloremque
        voluptas vel praesentium. Commodi ipsam esse dolorem sit modi dolor unde reiciendis dolore excepturi?
        Nulla quae, dolores blanditiis voluptates reiciendis tempora illo vel, aliquam, voluptatibus ducimus inventore
        ab repellendus nemo esse asperiores. Laudantium dolorum illo cumque voluptas exercitationem? Voluptatum quis
        accusantium animi excepturi natus?
        Fuga dolores eligendi eius rerum obcaecati reiciendis? Nobis illo commodi maxime maiores incidunt. Quasi vel
        laborum dolores necessitatibus voluptas. A dolorem labore vero ex iste culpa illo? Esse, architecto dolores.
        Aut rem dolorem laborum ipsa molestias maiores deleniti voluptas reprehenderit, soluta totam velit, maxime iusto
        sequi cumque illum unde ut ipsum doloremque accusamus corporis, aspernatur eaque esse reiciendis? Omnis,
        voluptatum.
        Ipsum totam error alias eum repellendus placeat non laboriosam perferendis illo incidunt modi qui, delectus a
        veniam eius maxime temporibus officiis, culpa consectetur aut. Eos nobis sint officia id esse?
        Iure reprehenderit ullam quos eum provident nisi dolorem debitis, vel minus eius aut veniam a commodi amet
        voluptatum, ea sapiente? Sequi incidunt unde dicta repellat, voluptates expedita quod labore facilis.
        Harum porro deleniti sit voluptatum officia similique maxime, exercitationem sapiente, quasi, illo recusandae!
        Consequuntur perferendis qui illum tempora, necessitatibus omnis sed, nesciunt illo quis minus, dolor rerum
        repudiandae cupiditate laboriosam?
        Consequuntur est, pariatur architecto iusto cum magni nisi repellendus quisquam? Quis nisi error reprehenderit
        qui maxime! Eaque commodi animi id iste dignissimos! Eos illo natus atque. Quisquam officia deleniti iste.
        Neque, quae, est officia veritatis minima soluta, quam perspiciatis repellendus blanditiis harum vel temporibus
        accusantium consequatur suscipit dolores sed at a numquam eaque optio vero aliquid ad consectetur placeat.
        Commodi!
        Voluptatibus nobis eum quas, facere eligendi animi nulla accusamus ad voluptate corporis aliquid sunt velit
        quae. Iure, explicabo? Ea ad iste officia nihil vitae dolor nesciunt tempore praesentium, facilis optio.
        Reiciendis neque quo voluptas commodi nobis similique veritatis. Dolore, sed incidunt optio unde, doloribus
        ipsum blanditiis ratione a soluta non sunt mollitia animi rerum nostrum sint quasi similique consequuntur
        corporis.
        Explicabo exercitationem quis id deleniti, facilis ipsum iste laudantium consequuntur numquam porro alias nulla
        tempore minus voluptates laboriosam quam, reprehenderit illum qui, enim vitae aliquam at quo deserunt eos.
        Voluptate!
        Ratione vitae libero eligendi, maiores in velit. Error asperiores rerum eum corrupti atque voluptas tempore iure
        molestias nihil, saepe distinctio! Repudiandae, facilis doloribus libero sed deleniti adipisci ipsam atque
        nobis.
        Accusantium modi minima, recusandae error ut fugit temporibus! Eius, inventore ullam fuga alias expedita quis!
        Quo eveniet assumenda quidem minima veritatis dolores ut, impedit vero rerum reiciendis voluptates quisquam
        quae?
        Officia, sed rerum, porro nihil labore praesentium aut veritatis facere qui beatae autem eius error, molestias
        tempora adipisci ullam quibusdam officiis iure. Quibusdam temporibus necessitatibus dolor rerum! Necessitatibus,
        molestiae nam.
        Molestiae labore asperiores eveniet eaque minima beatae suscipit doloribus corrupti, aut et magnam dolorum
        facilis esse quos numquam consectetur sed nostrum, eos ipsam modi? Corrupti magnam in cum ipsa impedit!
        Iusto asperiores, officiis, possimus ex ducimus qui nesciunt repellat fugiat laboriosam cum quod quibusdam sed
        enim repudiandae aspernatur neque aut minus deserunt accusamus recusandae quisquam maiores. Nam aperiam adipisci
        explicabo!
        Enim, quae sapiente aut, esse ipsam voluptate odio accusamus, distinctio quisquam reiciendis rem excepturi quod
        voluptatibus saepe blanditiis! Corporis odio a dolorum aliquid magnam. Impedit praesentium qui aut quod eum!
        Ex reiciendis laborum expedita maiores illo non, temporibus cumque accusantium suscipit odit laudantium, eos,
        quis impedit ipsam corporis consequuntur et nobis labore! Numquam cupiditate porro nobis molestias ex, totam
        temporibus!
        Optio saepe veniam quae dolor, quibusdam quidem assumenda similique. Quod exercitationem quis repudiandae dolore
        autem velit laboriosam deleniti eligendi aliquam? Voluptate iure dolor, corporis dignissimos dolore at officia
        sapiente tempore.
        Consequuntur, eveniet officia eius mollitia repellendus nobis? Aperiam corrupti, ipsum culpa eveniet beatae
        rerum atque exercitationem cumque repellendus unde magni, ipsa qui fuga ab, enim amet nemo tenetur!
        Consequuntur, eaque.
        Quibusdam expedita omnis perferendis. Quaerat, hic. Eum laboriosam doloremque molestias quos ut quae iusto
        recusandae minus ex, illum, repellendus omnis consectetur corporis architecto consequatur vero veritatis,
        reiciendis modi! Dignissimos, nobis?
        Fugit illo tenetur molestiae natus eos! Eligendi minima facilis nisi! Repellendus, modi. Neque dolor officia
        autem repellat accusantium, nostrum, eius inventore amet quibusdam qui sequi itaque optio. Dolore, sit hic.
        Commodi nesciunt dignissimos quibusdam fuga delectus aut doloremque illum? Veniam, assumenda eaque? Reiciendis
        ipsa incidunt repellendus deleniti rem. Iste quo expedita quaerat est. Tempora tempore sit, quod recusandae quo
        hic.
        Reprehenderit dolores accusamus sed libero, accusantium sit, quaerat esse veritatis tempore enim tenetur id quos
        inventore, nam perspiciatis molestiae natus illo quas unde doloribus? Ratione animi est porro ut aliquid!
        Omnis velit dolorum temporibus. Cum commodi blanditiis, animi maiores asperiores voluptas accusantium ut nulla
        dolorem labore id, reprehenderit quidem provident totam laboriosam quibusdam esse? Nisi deleniti consequatur id
        voluptates numquam!
        Molestiae delectus aliquam perferendis similique sequi totam magnam exercitationem repudiandae magni nihil dolor
        reiciendis quaerat quo, veritatis obcaecati explicabo vitae sunt eum aut impedit natus quod autem aliquid quia!
        Harum?</p>
    </main>

    <%- include('partials/footer.ejs') %>

</body>
<script>
  console.log("hello world");

</script>


<script src="/js/scripts.js"></script> <!-- Use absolute path for the script -->

</html>