<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container">
        <div class="account-text">
            <h1>Create New Account</h1>
            <p>Already Registered? <a href="/auth/login">Login</a></p>
        </div>
        <div class="login-box">
            <h2>Sign Up</h2>
            <form id="signupForm" action="/auth/signup" method="POST">
                <div class="input-field">
                    <input type="text" name="username" id="name" placeholder="NAME" required>
                    <small class="error-message hidden" id="nameError">Name is required.</small>
                </div>
                <div class="input-field email">
                    <input type="email" name="email" id="email" placeholder="EMAIL" required>
                    <small class="error-message hidden" id="emailError">Please enter a valid email.</small>
                </div>
                <div class="input-field">
                    <input type="password" name="password" id="password" placeholder="PASSWORD" required>
                    <span class="eye-icon" onclick="togglePasswordVisibility()"><i class="bi bi-eye-slash-fill"></i></span>
                    <small class="error-message hidden" id="passwordError">Password must be at least 6 characters long.</small>
                </div>
                <% if (typeof errorMessage !== 'undefined') { %>
                    <div class="error-message" style="color: red; margin-bottom: 10px;">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <button type="submit" class="signup-button" disabled>Sign Up</button>
            </form>
        </div>
    </div>

    <script src="/js/signup.js"></script>
</body>

</html>
