/* ========== CONTAINER 404 CSS Code START ========== */

.container {
  margin: auto;
  text-align: center;
  color: #cecacab2;
}

/* ========== CONTAINER 404 CSS Code END ========== */

/* ========== 404 CODE CSS Code START ========== */
.error-code {
  margin-top: 10vh; /* Adjusted to viewport height for better scaling */
  font-size: 20vw;  /* Responsive to viewport width */
  font-weight: 900;
}

/* ========== 404 CODE CSS Code END ========== */

/* ========== 404 MESSAGE CODE CSS Code START ========== */
.message {
  font-size: 5vw;   /* Responsive to viewport width */
  margin-bottom: 2rem;
}
/* ========== 404 MESSAGE CODE CSS Code END ========== */

/* Media query for very large screens (above 2500px) */
@media (min-width: 2500px) {
  .error-code {
      font-size: 20vw; /* Reduced relative to viewport width */
  }

  .message {
      font-size: 5vw;  /* Adjusted for better readability */
  }
}
