/* ========== DEFAULT CSS Code START ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: #d1d0cf;
}

header {
    position: fixed;
    width: 100%;
}

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* ========== DEFAULT CSS Code End ========== */

/* ========== FULL-CONTAINER CSS Code START ========== */

.full-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* ========== FULL-CONTAINER CSS Code END ========== */

/* ========== NAVBAR-FLEX CSS Code START ========== */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right,
            rgba(20, 20, 20, 0.950),
            rgba(20, 20, 20, 0.850));
    z-index: 10000;
}

/* ========== NAVBAR-FLEX CSS Code END ========== */

/* ========== LOGO CSS Code START ========== */

.logo img {
    width: 100px;
    height: auto;
}

/* ========== LOGO CSS Code END ========== */

/* ========== MENU-LINK CSS Code START ========== */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-items {
    margin: 0px;
    position: relative;
}

.nav-items a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

/* ========== MENU-LINK LLINE EFFECT HOVER CSS Code ========== */

.nav-items a:hover {
    font-weight: 500;
    color: #E50914;
}

.nav-items .underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #E50914;
    transition: width 0.3s ease;
}

.nav-items .underline:hover::before {
    width: 100%;
}

.nav-items .dropdown li:hover {
    opacity: 1;
}

/* ========== MENU-LINK LINE EFFECT HOVER CSS Code END ========== */

/* ========== MENU-LINK DROPDOWN CSS Code START ========== */
.dropdown-menu {
    display: none;
    position: absolute;
    background: #1c1c1c;
    list-style-type: none;
    margin: 19px -110px 8px 62px;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

/* ========== MENU-LINK DROPDOWN CSS Code END ========== */

/* ========== MENU-LINK DROPDOW-INNER-MENU CSS Code START ========== */

.dropdown:hover .dropdown-menu {
    display: block;
    cursor: pointer;
}

.dropdown-menu li a {
    position: relative;
    padding: 9px 24px;
    display: flex;
    align-items: center;
    color: #fff;
}

/* ========== MENU-LINK DROPDOW-INNER-MENU CSS Code END ========== */

/* ========== MENU-LINK DROPDOW-INNER-MENU  HOVER CSS Code START ========== */
.dropdown-menu li a:hover {
    background-color: rgba(255, 0, 0, 0.3);
    color: #E50914;
}

/* ========== MENU-LINK DROPDOW-INNER-MENU  HOVER CSS Code END ========== */

/* ========== DROPDOW-INNER-MENU LINE EFFECT CSS Code START ========== */

.dropdown-menu li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 4px;
    height: 100%;
    background-color: rgb(253, 12, 12);
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-menu li a:hover::before {
    opacity: 1;
}

/* ========== DROPDOW-INNER-MENU LINE EFFECT CSS Code END ========== */

/* ========== RIGHT-SIDE CONTAINER CSS Code START , SEARCH, WISHKIST, USER ========== */

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* ========== RIGHT-SIDE CONTAINER CSS Code END , SEARCH, WISHKIST, USER ========== */

/* ========== SEARCH-BAR CSS Code START ========== */

.search-bar form {
    display: flex;
    align-items: center;
    margin-right: 63px;
}

.search-box {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #aaa;
    width: 200px;
    transition: all 0.3s ease;
}

/* Adjust focus styling for the search box */
.search-box:focus {
    width: 250px; /* Expands the width on focus */
    border-bottom: 2px solid #E50914; /* Change border color on focus */
    transform: scale(1.02); /* Slightly scales up the input */
}

/* Button styling */
.search-bar button {
    background: transparent; /* Match the background of the input */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
    margin-left: 10px; /* Add space between input and button */
    padding: 5px; /* Optional padding */
}

.search-bar button i {
    color: #fff; /* Set icon color to white */
    font-size: 22px; /* Make icon size consistent */
}

/* Hover effect for the search button */
.search-bar button:hover i {
    color: #E50914; /* Change icon color on hover */
}

.search-bar input {
    font-size: large;
}

/* ========== SEARCH-BAR CSS Code END ========== */

/* ========== WISHLIST CSS Code START ========== */

.wishlist a {
    color: #fff;

}

.wishlist a:hover {
    color: #E50914;

}

.wishlist {
    font-size: 30px;
    margin-right: 20px;
}

/* ========== WISHLIST CSS Code END ========== */



/* ========== NOTIFICATION CSS Code END ========== */

/* ========== USER-LOGO CSS Code START ========== */

.user-logo {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.user-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #E50914;
}

/* ========== USER-LOGO CSS Code END ========== */

/* ========== USER-LOGO MENU CSS Code START ========== */

.user-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* ========== USER-LOGO MENU CSS Code END ========== */

/* ========== USER-NAME CSS Code START ========== */

.username {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

/* ========== USER-NAME CSS Code START ========== */

/* ========== USER-DROPDOWN CSS Code START ========== */

.user-dropdown {
    display: none;
    position: absolute;
    right: 26px;
    top: 30px;
    background: #1c1c1c;
    list-style-type: none;
    margin: 18px 0px 0px -66px;
    border-radius: 5px;
    padding: 8px;
    z-index: 1000;
}

/* ========== USER-DROPDOWN CSS Code END ========== */

/* ========== USER-DROPDOWN CSS Code START ========== */

.user-logo .user-dropdown.active {
    display: block;
}

.user-dropdown-menu {
    padding: 0;
    width: 164px; /* Set a fixed width to prevent wrapping */
}

.user-dropdown-menu li {
    list-style: none;
}

.user-dropdown-menu li i {
    padding: 0 5px;
}

.user-dropdown-menu li a {
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    position: relative;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) if the text overflows */
}


.user-dropdown-menu li a:hover {
    background-color: rgba(255, 0, 0, 0.3);
    color: #E50914;
}



.user-dropdown-menu li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 4px;
    height: 100%;
    background-color: rgb(253, 12, 12);
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.user-dropdown-menu li a:hover::before {
    opacity: 1;
}

/* ========== USER-DROPDOWN CSS Code END ========== */

/* ========== NAV-BAR EFFECT CSS Code START  ========== */

.responsive-container {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.nav-links .hover-effect a {
    display: block;
}


.nav-links .hover-effect :hover {
    background-color: rgba(255, 0, 0, 0.3);
    color: #E50914;
}

.nav-links .hover-effect a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: rgb(253, 12, 12);
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* ========== NAV-BAR EFFECT CSS Code END  ========== */

/* ========== USER-DROPDOWN - NAVBAR CSS Code START  ========== */

.responsive-user-dropdown {
    /* display: none; */
    position: absolute;
    left: -10px;
    top: 30px;
    background: #1c1c1c;
    list-style-type: none;
    margin: 11px 0px 0px -125px;
    border-radius: 5px;
    z-index: 1000;
}

.user-logo .responsive-user-dropdown.active {
    display: block;
}

.responsive-user-dropdown li {
    list-style: none;
}

.responsive-user-dropdown-menu li i {
    padding: 0 5px;
}

.responsive-user-dropdown li a {
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
}



.responsive-user-dropdown-menu li a {
    position: relative;
    padding: 10px 20px;
}

/* ========== USER-DROPDOWN - NAVBAR CSS Code END  ========== */

/* ========== USER-DROPDOWN - NAVBAR HOVER EFFECT CSS Code START  ========== */

.responsive-user-dropdown-menu li a:hover {
    color: #E50914;
    background-color: rgba(255, 0, 0, 0.3);
}

/* ========== USER-DROPDOWN - NAVBAR HOVER EFFECT CSS Code END  ========== */

/* ========== DROPDOWN - NAVBAR LINE EFFECT EFFECT CSS Code START  ========== */

.user-dropdown-menu li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 4px;
    height: 100%;
    background-color: rgb(253, 12, 12);
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.user-dropdown-menu li a:hover::before {
    opacity: 1;
}

/* ========== DROPDOWN - NAVBAR LINE EFFECT EFFECT CSS Code END  ========== */

/* ========== MAX-WIDTH 1200PX CSS Code START  ========== */

@media (max-width: 1200px) {

    /* ========== RESPONSIVE-CONTAINER CSS Code START  ========== */

    .responsive-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .full-container {
        display: none;
    }

    .user-logo {
        position: relative;
    }

    /* ========== RESPONSIVE-CONTAINER CSS Code END  ========== */

    /* ========== LSIT ICON CSS Code START  ========== */

    .toggle-menu {
        font-size: 29px;
        cursor: pointer;
        margin-right: 0px;
        margin-left: -10px
    }

    .toggle-menu :hover {
        color: #E50914;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 36px;
        left: 10px;
        background-color: #1c1c1c;
        padding: 20px;
        margin: 35px 0px 0px 16px;
        border-radius: 5px;
        z-index: 1000;
    }

    #responsive-nav li a {
        font-size: 15px;
    }

    .nav-links.active {
        display: flex;
    }

    /* ========== LSIT ICON CSS Code END  ========== */

    /* ========== LSIT ICON LINE-EFFECT CSS Code START  ========== */
    #responsive-nav li a::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 4px;
        height: 100%;
        /* background-color: rgb(253, 12, 12); */
        z-index: 2000;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    #responsive-nav li a:hover::before {
        opacity: 1;
    }

    /* ========== LSIT ICON LINE-EFFECT CSS Code END ========== */

    /* ========== LOGO CSS Code START ========== */

    .logo {
        flex-grow: 1;
        text-align: left;

    }

    .logo img {
        margin: auto;
        width: 95px;
        height: auto;
    }

    /* ========== LOGO CSS Code END ========== */

    /* ========== SEARCH-BAR CSS Code START ========== */

    .search-box {
        width: 150px;
    }

    .search-box:focus {
        transition: width 0.3s ease;
        width: 200px;
    }

    /* ========== SEARCH-BAR CSS Code END ========== */
}

/* ========== LOGO  CSS Code START ========== */

@media (min-width: 900px) {
    .logo {
        margin: 0px 269px 0 14px;
    }

}

/* ========== LOGO  CSS Code END ========== */

/* ========== MAX-WIDTH 700PX CSS Code START ========== */

@media(max-width:700px) {
    .logo img {
        width: 70px;
        height: auto;
    }

    .wishlist {
        font-size: x-large;
    }

    .user-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-logo img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .username {
        text-transform: uppercase;
        margin-top: 5px;
        text-align: center;
        font-size: 10px;
    }

    .search-box {
        width: 150px;
    }

    .search-box:focus {
        transition: width 0.3s ease;
        width: 150px;
    }
}

/* ========== MAX-WIDTH 700PX CSS Code END ========== */

/* ========== MAX-WIDTH 640PX CSS Code START ========== */

@media (max-width: 640px) {

    /* ========== USER-IMG CSS Code START ========== */
    #logo img {
        width: 35px;
        height: auto;
    }

    .toggle-menu {
        font-size: 24px;
        margin-right: 5px;
    }

    .user-logo {
        flex-direction: column;
        align-items: center;
        margin-left: -50px;
        margin-right: -20px;
    }

    .username {
        font-size: 10px;
        margin-top: 3px;
        text-align: center;

    }

    /* ========== USER-IMG CSS Code END ========== */

    .wishlist {
        margin-right: 60px;
    }
}

@media (max-width: 640px) {

    /* ========== SEARCH - BAR CSS Code START ========== */

    .search-bar {
        margin-right: -40px;
    }


    .search-box {
        width: 60%;
        transform: none;
    }

    .search-box:focus {
        width: 60%;
        transform: none;
    }

    .logo {
        margin: 0px 32px 0 1px;
    }

    /* ========== SEARCH - BAR CSS Code END ========== */
}

@media (min-width: 585px) {

    /* ========== SEARCH - BAR CSS Code START ========== */
    .search-bar {
        margin-right: -36px;
    }

    .logo {
        margin: 0px 50px 0 5px;
    }

    /* ========== SEARCH - BAR CSS Code END ========== */
}


.suggestions { 
    position: absolute; 
    background-color: #1c1c1c; 
    z-index: 1000; 
    max-height: 266px; 
    overflow-y: auto; 
    top: 56px; /* Adjust as needed */ 
    width: 200px; /* Initial width to match search box */ 
    transition: width 0.3s ease; /* Smooth transition */ 
    border-radius: 4px; /* Add subtle rounding to corners */ 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
    margin-left: -4px 
} /* Adjust width of suggestions when search box is focused */ 

.search-box:focus + .suggestions { 
    width: 300px; /* Expand width to match search box */ 
} 
.suggestion-item { 
    padding: 10px; 
    cursor: pointer; 
    color: #ffffff; /* White text for better visibility */ 
}
.suggestion-item:hover { 
    background-color: #fcfcfcba; 
    color: #1c1c1c; /* Text color change on hover */
}

/* Styling the scrollbar */ 
.suggestions::-webkit-scrollbar { 
    width: 8px; /* Width of the scrollbar */ 
} /* Track */ 
.suggestions::-webkit-scrollbar-track { 
    background: #1c1c1c; /* Match background color */ 
    border-radius: 4px; /* Subtle rounding */ 
} /* Handle */ 
.suggestions::-webkit-scrollbar-thumb { 
    background: #E50914; /* Red color for the handle */ 
    border-radius: 4px; /* Subtle rounding */ 
} /* Handle on hover */ 
.suggestions::-webkit-scrollbar-thumb:hover { 
    background: #f5f5f5; /* Lighter color on hover */ 
}

.wishlist {
    position: relative;
    display: flex;
    align-items: center;
}

.wishlist .bi-bookmark {
    font-size: 24px;  /* Adjust as needed for the bookmark icon size */
}

.notification {
    position: absolute;
    top: 3px;  /* Adjust as needed */
    right: -2px;  /* Adjust as needed */
    width: 10px;
    height: 10px;
    background-color: #E50914;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    border: 2px solid white;
}

/* .wishlist .notification:hover {
    color: #1c1c1c;
} */


@media (max-width: 1050px) {
    .responsive-user-dropdown {
        display: none;
        position: absolute;
        /* left: 38px; */
        top: 30px;
        background: #1c1c1c;
        list-style-type: none;
        margin: 11px 0px 0px -125px;
        border-radius: 5px;
        z-index: 1000;
    }
}

@media (max-width: 675px) {
    .responsive-user-dropdown {
        display: none;
        position: absolute;
        left: 65px;
        top: 14px;
        background: #1c1c1c;
        list-style-type: none;
        margin: 11px 0px 0px -125px;
        border-radius: 5px;
        z-index: 1000;
    }
}

@media (max-width: 550px) {
    .responsive-user-dropdown {
        display: none;
        position: absolute;
        left: -5px;
        top: 15px;
        background: #1c1c1c;
        list-style-type: none;
        margin: 11px 0px 0px -125px;
        border-radius: 5px;
        z-index: 1000;
    }
}

@media (max-width: 598px) {
    .search-bar form {
        display: flex;
        align-items: center;
        margin-right: 3px;
    }
}


/* Global Scrollbar Styling */

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

/* Scrollbar Track */
*::-webkit-scrollbar-track {
    background: #1c1c1c; /* Match background color */
    /* border-radius: 4px; Subtle rounding */
}

/* Scrollbar Handle */
*::-webkit-scrollbar-thumb {
    background: #E50914; /* Red color for the handle */
    border-radius: 4px; /* Subtle rounding */
}

/* Scrollbar Handle on Hover */
*::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5; /* Lighter color on hover */
}
