/* ========== Global Styles ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ========== Body Styles ========== */
body {
    background-image: url('/images/login_signup_background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ========== Container Styles ========== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
}

/* ========== Account Text Styles ========== */
.account-text {
    max-width: 50%;
    color: white;
    font-size: 2rem;
}

.account-text p {
    margin-top: 10px;
    font-size: 1rem;
}

.account-text a {
    color: white;
    text-decoration: underline;
}

.account-text a:hover {
    color: red;
}

/* ========== Login Box Styles ========== */
.login-box {
    background: rgba(184, 184, 184, 0.2);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 40%;
}

.login-box h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* ========== Input Field Styles ========== */
.input-field {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-field input {
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: rgba(184, 184, 184, 0.5);
    padding: 10px;
    border-radius: 5px;
    border: none;
    caret-color: #fff;
    cursor: text;
}

.input-field input:focus {
    border: 2px solid white;
}

.input-field input::placeholder {
    color: #d3d3d3;
    opacity: 1;
}

/* Error style for input fields */
.error-message {
    /* border: 2px solid red; */
    color: #E50914;
    /* background-color: #ffe6e6; */
}

/* ========== Submit Button Styles ========== */
.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: #f0f0f0;
}

.submit-button:active {
    background-color: #E50914;
    transform: scale(0.95);
}

/* ========== Hidden Class ========== */
.hidden {
    display: none;
}

/* ========== Eye Icon for Password Field ========== */
.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    color: #1c1c1c;
}

.eye-icon i {
    transition: color 0.3s ease;
}

.eye-icon i.bi-eye-fill {
    color: #1c1c1c;
}

/* ========== Media Queries ========== */

/* 435px and below */
@media (max-width: 435px) {
    body {
        padding: 10px;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .account-text {
        width: 100%;
        max-width: 85%;
        text-align: left;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

    .account-text p {
        font-size: 0.9rem;
    }

    .login-box {
        margin-top: 20px;
        width: 100%;
        max-width: 400px;
        align-self: center;
    }

    .login-box h2 {
        font-size: 1.6rem;
    }

    .input-field input {
        height: 35px;
        font-size: 0.9rem;
    }

    .submit-button {
        font-size: 0.9rem;
        padding: 8px;
    }
}

/* For 500px to 768px */
@media (min-width: 500px) and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .login-box {
        width: 90%;
        margin-top: 20px;
    }
}

/* For 768px to 1200px */
@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .login-box {
        width: 40%;
    }
}

/* For 1201px and above */
@media (min-width: 1201px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}
