/* Global Styles */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    height: 44px;
    width: 100%;
    top: 0;
    z-index: 10;
}

header nav .Home {
    position: absolute;
    left: 10px;
    top: 10px;
}

header nav .Home a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

header nav .Home a:hover {
    text-decoration: underline;
}

/* Main Content */
main.content {
    padding: 60px 10px 10px;
    text-align: center;
}

/* Movie Poster */
.movie-poster img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    /* margin-top: 15px; */
}

/* Movie Details */
.movie-details {
    margin-top: 20px;
}

.movie-details h1 {
    font-size: 2em;
    margin-bottom: 5px;
    color: #333;
}

.movie-details .rating {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1em;
    margin-bottom: 10px;
    color: #666;
}

.movie-details .description {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
}

.genres
{
    margin-top: 5px;
    color:#333
}


/* Responsiveness */
@media (max-width: 991px) {
    .movie-details h1 {
        font-size: 2em;
    }

    .movie-details .description {
        font-size: 1em;
    }

    .movie-poster img {
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .movie-details h1 {
        font-size: 1.5em;
    }

    .movie-details .rating {
        flex-direction: column;
        align-items: center;
    }

    .movie-details .description {
        font-size: 0.9em;
    }

    .movie-poster img {
        max-width: 100%;
    }

    header nav .Home a {
        font-size: 1em;
    } 
 
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.read-more {
    color: blue;
    cursor: pointer; /* Change cursor to pointer */
    text-decoration: underline;
}


.overview-content {
    display: none; /* Initially hidden */
}