
.content
{
    margin-top: 70px;
}

header{
    z-index: 10;
}

.suggestion {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between images */
    width: 100%;
    margin: 0 auto;
}
.image-item {
    position: relative; /* Position relative to contain absolute children */
    flex: 1 1 calc(20% - 10px); /* Default: five images in a row */
    max-width: 300px;
    overflow: hidden; /* Ensure overlay is contained */
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.image-item:hover {
    transform: scale(0.95); /* Scale down the image slightly */
}

.image-item img {
    width: 100%; /* Responsive width */
    max-width: 300px; /* Constrain max width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: block; /* Ensure no space below the image */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.image-item:hover img {
    transform: scale(1.05); /* Scale up the image slightly on hover */
}

.overlay {
    position: absolute; /* Overlay on top of image */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Cover the entire area */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0; /* Hide overlay by default */
    transition: opacity 0.3s ease;
    border-radius: 10px; /* Match image-item’s radius */
}

.image-item:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}


.plus-sign {
    /* font-size: 24px; */
    color: white;
    padding: 10px;
    background: #E50914;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Responsive Layout */

/* Four images per row */
@media (max-width: 1200px) {
    .image-item {
        flex: 1 1 calc(25% - 10px);
    }
}

/* Three images per row */
@media (max-width: 992px) {
    .image-item {
        flex: 1 1 calc(33.33% - 10px);
    }
}

/* Two images per row */
@media (max-width: 768px) {
    .image-item {
        flex: 1 1 calc(50% - 10px);
    }
}

/* One image per row */
@media (max-width: 576px) {
    .image-item {
        flex: 1 1 calc(50% - 10px);
    }
}

.no-found
{
    margin: 70px;
    color: black;
    font-size: larger;

}

@media (max-width: 435px) {
    .image-item {
        flex: 1 1 calc(50% - 10px); /* Two images per row */
        max-width: 150px; /* Adjust max-width for better fit */
        width: 100%; /* Ensure it uses full width of the container */
    }

    .image-item img {
        max-width: 100%; /* Ensure image does not exceed container width */
        width: 100%; /* Responsive width */
        height: auto; /* Maintain aspect ratio */
    }
}