/* ========== Global Styles ========== */
body {
    font-family: Arial, sans-serif;
}

/* ========== Table Container Styles ========== */
.table-container {
    border: 2px solid #b9b7b7;
    margin: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

/* ========== Heading Styles ========== */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* ========== Table Styles ========== */
table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

/* ========== Table Header Styles ========== */
thead {
    background-color: #f2f2f2;
}

/* ========== Table Cell Styles ========== */
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* ========== Profile Picture Styles ========== */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* ========== Responsive Adjustments ========== */
@media (max-width: 768px) {

    th,
    td {
        padding: 8px;
    }

    h2 {
        font-size: 18px;
    }

    .profile-pic {
        width: 40px;
        height: 40px;
    }
}