@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}



@layer base {
  :root {
    --red-main: #F40000;
    --dark: #090809;
    --white: #FFFFFF;
    --light-gray: #E5E7EB;
  }
}

/* Define custom colors for Tailwind */
@layer utilities {
  .bg-red-main {
    background-color: var(--red-main);
  }
  .text-red-main {
    color: var(--red-main);
  }
  .bg-dark {
    background-color: var(--dark);
  }
  .text-dark {
    color: var(--dark);
  }
  .bg-white-custom {
    background-color: var(--white);
  }
  .text-white-custom {
    color: var(--white);
  }
  .bg-light-gray {
    background-color: var(--light-gray);
  }
  .text-light-gray {
    color: var(--light-gray);
  }
}

/*  */